html{
	background-color: white;
	background-image: url("media/grid.png");
	background-size: cover;
	background-repeat: repeat-y;
	background-position: center center;
}

body{
	margin: 15px;
	padding: 0 !important;
	color: black;
	font-family: 'Roboto Mono';
	font-weight: 400;
	font-style: normal;
	font-size: 0.9vw;
	line-height: 1.5;
	padding: 1em 1em 1em;
}

.mini-landing {
	overflow-y: scroll;
	display: flex;
	width: auto;
	padding-top: 10px;
	align-items: center;
	justify-content: center;
}

.intro {
	display: flex;
	padding-right: 13vw;
	padding-left: 18vw;
}

.navigation {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.grid-container {
	display: grid;
	padding: 1vw;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	justify-content: center;
}

.grid-item {
	justify-content: center;
}

#thumbnail {
	width: 16vw;
}

.landing {
	border: 0.1em;
	border-style: solid;
	border-color: #282828;
	border-radius: 8px;
	height: 80vh;
	overflow-y: scroll;
	scrollbar-width:  none; /* Firefox */
}

#figma-embed {
	display:  flex;
	align-items: center;
	height: 100vh;
}

.main {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sticky {
	z-index: 999999;
	position: -webkit-fixed;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
}

h1 {
	font-family: "Besley";
	font-weight: 600;
	font-style: italic;
	font-size: 2vw;
	color: #282828;
	line-height: 1.5;
}

h3 {
	font-family: "Besley";
	font-weight: 600;
	font-style: italic;
	font-size: 1.3vw;
	line-height: 1;
	color: #0048FF;
}

p {
	font-family: "Roboto Mono";
	font-weight: 400;
	font-style: normal;
	font-size: 1.3vw;
	line-height: 1.5;
	color: #282828;
}
#myBtn {
	background-color:  transparent;
	font-family: "Besley";
	font-weight: 600;
	font-style: italic;
	font-size: 2vw;
	color: #282828;
	line-height: 1.5;
	text-decoration: underline;
	cursor: pointer;
	border: none;
	padding: none;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed; /* Stay in place */
	z-index 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content and Box */
.modal-content {
	background-color: #DAF8FF;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 16px;
	border: 0.3em;
	border-style: solid;
	border-color: #282828;
	border-radius: 8px;
	width: 80%;
	height: 80%;
}

#profpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vw;
	margin-bottom: 1vw;
	border: 0.2em;
	border-style: solid;
	border-color: #282828;
	border-radius: 8px;
	width: 16vw;
}

/* The Close Button */
.close{
	color: #282828;
	float: right;
	font-size: 2vw;
	font-weight: 400;
	padding: 1vw;
}

.close:hover, .close:focus {
	color: #FF372B;
	text-decoration: none;
	cursor: pointer;
}

.button {
	background-color:  transparent;
	border: 0.13em;
	border-style: solid;
	border-color: #282828;
	border-radius: 64px;
	padding: 0.4vw 2vw;
	text-align: center;
	display: inline-block;
	float: left;
	font-family: "Roboto Mono";
	font-size: 1.2vw;
	font-color: #282828;
	font-style: normal;
	font-weight: 400;
	margin: 1vw;
	cursor: pointer;
}

#hover-yellow.button:hover {
	background-color: #FDCA00;
}

#hover-red.button:hover{
	background-color: #FF372B;
	border-color: black;
	font-color: black;
}

#hover-green.button:hover{
	background-color: #53CEA1;
}

a:link {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: #0048FF;
}


@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');