html{
	background-color: white;
	background-image: url("media/grid.png");
	background-size: cover;
	background-repeat: repeat-y;
	background-position: absolute;
}

body{
	margin: 16px;
	padding: 0 !important;
	color: black;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9vw;
	line-height: 1.5;
	padding: 1em 1em 1em;
}

div.stamps {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 10;
	pointer-events: none;
}

div.stamps img {
	position: absolute;
	transform: translate(-50%, -50%);
	animation: fade-out 1s ease-in-out forwards;
	animation-delay: 3s;
	max-width: 10vw;
}

@keyframes fade-out{from{opacity: 1}to{opacity: 0}}

.mini-landing {
	overflow-y: scroll;
	display: flex;
	width: auto;
	padding-top: 1vw;
	align-items: center;
	justify-content: center;
}

.intro {
	display: flex;
	padding-right: 16vw;
	padding-left: 16vw; 
	/* margin-top: 0px;
	margin-bottom: 0px; */
}

.navigation {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px; 
}

.grid-container {
	justify-content: center;
	margin: 40px auto;
  	width:flex;
  	height:flex;
  	display:grid;
  	grid-template-columns: 32vw 32vw;
  	grid-row: auto auto;
  	grid-column-gap: 4vw;
  	grid-row-gap: 4vw;
}

.grid-item {
	justify-content: center;
}

.img-detail {
	background-color:  transparent;
	border: 0.13em;
	border-style: solid;
	border-color: #282828;
	border-radius: 64px;
	padding: 0.4vw 2vw;
	text-align: center;
	display: inline-block;
	float: left;
	font-family: "Roboto Mono";
	font-size: 1.2vw;
	font-color: #282828;
	font-style: normal;
	font-weight: 400;
	margin: 1vw;
	cursor: pointer;
}

#thumbnail {
	width: 32vw;
}

.landing {
	border: 0.1em;
	border-style: solid;
	border-color: #282828;
	border-radius: 8px;
	height: 80vh;
	overflow-y: scroll;
	scrollbar-width:  none; /* Firefox */
}

.main {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sticky {
	z-index: 999999;
	position: -webkit-fixed;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
}

h1 {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 600;
	font-style: italic;
	font-size: 3.5rem;
	color: #FF3700;
	line-height: 1;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

h2 {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #0048FF;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 16px;
}

h3 {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #282828;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 16px;
}

p {
	font-family: "Roboto Mono", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3vw;
	line-height: 1.5;
	color: #282828;
}

a, a:visited {
	text-decoration: underline;
	color: #282828;
}

a:hover {
	color: #FF3700;
}

#myBtn {
	background-color:  transparent;
	font-family: "Roboto Mono";
	font-weight: 600;
	font-style: italic;
	font-size: 2vw;
	color: #282828;
	line-height: 1.5;
	text-decoration: underline;
	cursor: pointer;
	border: none;
	padding: none;
}

button {
	background-color:  transparent;
	border: 0.13em;
	border-style: solid;
	border-color: #282828;
	border-radius: 64px;
	padding: 0.4vw 2vw;
	text-align: center;
	display: inline-block;
	float: left;
	font-family: "Roboto Mono", sans-serif;
	font-size: 1.2vw;
	font-color: #282828;
	font-style: normal;
	font-weight: 400;
	margin: 1vw;
	cursor: pointer;
}

#hover-yellow.button:hover {
	background-color: #FFB600;
}

#hover-red.button:hover{
	background-color: #FF3700;
	border-color: black;
	font-color: black;
}

#hover-blue.button:hover{
	background-color: #0048FF;
	color: #FFFFFF;
}

@font-face {
	font-family: "Space Mono";
	src:  url("fonts/SpaceMono-Regular.ttf") format("ttf");
	src:  url("fonts/SpaceMono-Bold.ttf") format("ttf");
	src:  url("fonts/SpaceMono-BoldItalic") format("ttf");
	src:  url("fonts/SpaceMono-Italic.ttf") format("ttf");
}


@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono: regular, bold, italic');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap')